{% extends 'base.html.twig' %}
{% block body %}
    {% set hero_title = "Conditions d'utilisation" %}
    {% set hero_subtitle = "" %}
    {{ include('component/_hero_title.html.twig') }}

    <div class="container mt-6">
        <p class="title is-3 mt-6">
            1. Présentation du site internet.
        </p>
        <p>
            En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
        </p>
        <br>
        <p>
            <strong>Propriétaire</strong> : Kasskq – 3 rue Placeholder 34080 Montpellier
        </p>        <br>

        <p>
            <strong>Responsable publication</strong> : Kasskq – kasskq@gmail.com
        </p>        <br>

        <p>
            Le responsable publication est une personne physique ou une personne morale.
        </p>        <br>

        <p>
            <strong>Webmaster</strong> : Kasskq – kasskq@gmail.com
        </p>        <br>

        <p>
            <strong>Hébergeur</strong> : ovh – 2 rue Kellermann 59100 Roubaix 1007
        </p>        <br>

        <p>
            <strong>Délégué à la protection des données</strong> : Kasskq – kasskq@gmail.com
        </p>        <br>

        <p class="title is-3 mt-6">
            2. Conditions générales d’utilisation du site et des services proposés.
        </p>        <br>

        <p>

            Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables. Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.
        </p>        <br>

        <p>

            L’utilisation du site <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> sont donc invités à les consulter de manière régulière.
        </p>        <br>

        <p>

            Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par <a href="https://www.snowtricks.com">https://www.snowtricks.com</a>, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. Le site web <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> est mis à jour régulièrement par <a href="https://www.snowtricks.com">https://www.snowtricks.com</a>
            responsable. De la même façon, les mentions légales peuvent être modifiées à tout moment :
            elles
            s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
        </p>        <br>

        <p>


            Toutes les informations indiquées sur le site <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
        </p>        <br>


        <p class="title is-3 mt-6">
            3. Gestion des données personnelles.
        </p>

        Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).

        <p class="title is-5 mt-6">
            3.1 Droit d’accès, de rectification et d’opposition
        </p>
        <p>

            Conformément à la réglementation européenne en vigueur, les Utilisateurs de <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> disposent des droits suivants :
        </p><br>
        <p>

            - droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs
        </p>
        <p>
            - droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite
        </p>
        <p>
            - droit de retirer à tout moment un consentement (article 13-2c RGPD)
        </p>
        <p>
            - droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
        </p>
        <p>
            - droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)
        </p>
        <p>
            - droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)
        </p>
        <p>
            - droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné
        </p><br>
        <p>
            Si l’Utilisateur souhaite savoir comment <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> utilise ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> par mail à l’adresse suivante :

        </p><br>
        <p>
            Kasskq – kasskq@gmail.com
        </p><br>
        <p>
            Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les Utilisateurs de <a href="https://www.snowtricks.com">https://www.snowtricks.com</a> peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (<a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a>).
        </p>

    </div>

{% endblock %}