{% extends 'base.html.twig' %}

{% block title %}Hello ScratchController!{% endblock %}

{% block body %}
    <p>Tuto JSON endpoint for upvote/downvote (until chapter 15 : <a href="https://symfonycasts.com/screencast/symfony/json-api">here</a></p>
    <p>Tuto JSON fore API (previous tutorial is just the basic) : <a href="https://symfonycasts.com/screencast/api-platform">here</a></p>


    <p>See Chapter 17 & 18 for webpack-encore : <a href="https://symfonycasts.com/screencast/symfony/webpack-encore-usage">here</a></p>
    <p>webpack-encore full tuto : <a href="https://symfonycasts.com/screencast/webpack-encore">here</a></p>
{% endblock %}
