@charset "UTF-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
//@import url('https://fonts.googleapis.com/css?family=Tangerine');


//
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$hero: #7CFAF0;
$blue: #5A93D0;
$blueSecondary: #4A6888;

// Update Bulma's global variables
//$family-sans-serif: "Tangerine", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$link: $blueSecondary;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/layout/all.sass";
@import "~bulma/sass/helpers/spacing.sass";
@import "~bulma/sass/helpers/spacing.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/grid/tiles.sass";
@import "~bulma-timeline/dist/css/bulma-timeline.sass";
