<section class="hero is-fullheight custom-hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ hero_title }}</h1>
            <h2 class="subtitle">{{ hero_subtitle }}</h2>
        </div>
    </div>
    {# todo positionner ce button, deplacer le js ?, faire le lien pour remonter en haut
    #}
    <span style="font-size: 3em;"> <a id="go_tricks" href="#"><i class="fas fa-angle-double-down"></i></a></span>

</section>
<style>
    .custom-hero {

        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
        background-image: url("{{ asset('/img/home-bg2.jpg') }}");
    }

</style>
<script>
    $(document).ready(function () {
        var $buttonToTricks = $('#go_tricks'),
            $trickListaTag = $('#top_tricks');

        $buttonToTricks.click(function (e) {
            $('html,body').animate({scrollTop: $trickListaTag.offset().top}, 'slow');
        })
    })
</script>