{# <div class="block"> #}
{# <div class="custom-hero"> #}
{# <img src="{{ asset('/img/home-bg2.jpg') }}" alt="" class="banner-image"> #}
{# <div class="banner-content"> #}
{# <h1 class="title is-1"></h1> #}
{# </div> #}
{# </div> #}
{# </div> #}


<section class="hero is-fullheight-with-navbar custom-hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ hero_title }}</h1>
            <h2 class="subtitle">{{ hero_subtitle }}</h2>
        </div>
    </div>
</section>
<style>
    .custom-hero {

        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
        background-image: url("{{ asset('/img/home-bg2.jpg') }}");
    }

</style>