{% set img_source = trick.images[0] is defined ? asset('/uploads/' ~ trick.images[0].name) : asset('/img/home-bg2.jpg') %}

<section class="hero is-fullheight custom-hero" style="background-image: url({{ img_source }})">
    <div class="hero-body">
        <div class="container">
            <h1 class="title my-title">{{ hero_title }}</h1>
            <h2 class="subtitle">{{ hero_subtitle }}</h2>
        </div>
    </div>

</section>
<style>
    .custom-hero {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
    }

    .my-title {
        opacity: initial;
    }
</style>
