{# thx to https://ourcodeworld.com/articles/read/593/using-a-bootstrap-4-pagination-control-layout-with-knppaginatorbundle-in-symfony-3 for this template example #}

{% if pageCount > 1 %}
    <div class="container mt-6">

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% for page in pagesInRange %}
                    {% if page != current %}
                        <li><a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="pagination-link" aria-label="Goto page 45">{{ page }}</a></li>
                    {% else %}
                        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endif %}