{% extends 'base.html.twig' %}

{% block title %}Créer un Trick{% endblock %}

{% block body %}
    {% set hero_title = "Création d'un Trick" %}
    {% set hero_subtitle = "" %}
    {{ include('component/_hero_title.html.twig') }}

    <div class="container mt-6">

        {% for message in app.flashes('notice') %}
            <article class="message is-link">
                <div class="message-body">
                    {{ message }}

                </div>
            </article>
        {% endfor %}



        {{ include('tricks/_form.html.twig') }}

    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/img-video-form.js') }}"></script>
{% endblock %}

